.above-track {
    background-color: #8DB9CA;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 1.65px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        margin-bottom: 0;
    }
}