@font-face {
    font-family: 'D-DIN Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/D-DIN Condensed Regular'), url('./fonts/D-DINCondensed.woff') format('woff');
}